<div class="container mt-5">
  <div class="text-center">
    <h1>Welcome to EventTicketing</h1>
    <p class="lead">Find and book tickets for your favorite concerts and events!</p>
    <%= link_to 'Explore Events', events_path, class: 'btn btn-primary btn-lg mt-3' %>
    <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-success btn-lg mt-3 ml-3' %>
    <%= link_to 'Log In', new_user_session_path, class: 'btn btn-outline-secondary btn-lg mt-3 ml-3' %>
  </div>

  <div class="row mt-5">
    <div class="col-md-4">
      <h3>Discover Events</h3>
      <p>Browse a wide range of concerts and events near you.</p>
    </div>
    <div class="col-md-4">
      <h3>Book Tickets</h3>
      <p>Secure your spot by booking tickets easily through our platform.</p>
    </div>
    <div class="col-md-4">
      <h3>Join the Community</h3>
      <p>Sign up to get personalized event recommendations and manage your bookings.</p>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-4">
      <h3>Discover Events</h3>
      <p>Browse a wide range of concerts and events near you.</p>
    </div>
    <div class="col-md-4">
      <h3>Book Tickets</h3>
      <p>Secure your spot by booking tickets easily through our platform.</p>
    </div>
    <div class="col-md-4">
      <h3>Join the Community</h3>
      <p>Sign up to get personalized event recommendations and manage your bookings.</p>
    </div>
  </div>


  <div class="row mt-5">
    <div class="col-md-4">
      <h3>Discover Events</h3>
      <p>Browse a wide range of concerts and events near you.</p>
    </div>
    <div class="col-md-4">
      <h3>Book Tickets</h3>
      <p>Secure your spot by booking tickets easily through our platform.</p>
    </div>
    <div class="col-md-4">
      <h3>Join the Community</h3>
      <p>Sign up to get personalized event recommendations and manage your bookings.</p>
    </div>
  </div>
</div>

